<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>PHÒNG KHÁM NWA</h3>
                        <p>
                            Nhà bè <br>
                            TP. Hồ Chí Minh, Việt Nam<br><br>
                            <strong>Điện thoại</strong> +84 12 345 678<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liên kết</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Giới thiệu</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Góp ý và đánh giá</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tin tức y tế</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hỗ trợ khách hàng</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Dịch vụ khách hàng</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Đặt lịch khám</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hướng dẫn khám bệnh</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Bảng giá khám bệnh</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Nhận tin tức từ chúng tôi</h4>
                    <p>Nhận tin tức ưu đãi và nhiều hơn nữa ...</p>
                    <form action="" method="post">
                        <input type="email" name="email" placeholder="Nhập email" ><input type="submit" value="Đăng ký">
                    </form>

                </div>

            </div>
        </div>
    </div>

<!--    <div class="container">-->
<!--        <div class="copyright">-->
<!--            &copy; Copyright <strong><span>Medicio</span></strong>. All Rights Reserved-->
<!--        </div>-->
<!--        <div class="credits">-->
<!--            &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--            &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--            &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--            &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medicio-free-bootstrap-theme/ &ndash;&gt;-->
<!--            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--        </div>-->
<!--    </div>-->
</footer><!-- End Footer -->